.navigation {
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo {
    padding: 50px 16px 0;
    display: block;
    text-align: center;
    img {
        max-width: 50px;
        height: auto;
    }
}
.user{
    padding: 0 16px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon{
        font-size: 28px;
        width: 30px;
        height: 30px;
    }
}
.menu {
    .group {
        font-weight: 700;
        color: #43a5ed;
        font-size: 12px;
        padding: 8px 18px 0;
    }
    .item {
        border-radius: 0;
        display: block;
        text-align: left;
        font-size: 15px;
        text-transform: none;
        padding: 8px 18px;
    }
    .inner{
        display: flex;
        align-items: center;
        .icon{
            margin-right: 7px;
            font-size: 17px;
            width: auto;
            height: auto;
        }
    }
    .active{
        color: #4BA97C;
    }
}
