.root{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    width: 360px;
    max-width: 100%;
    margin-bottom: 150px;
    h1{
        margin-bottom: 0.725rem;
        text-align: center;
        img{
            max-width: 50px;
        }
    }
    > div {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
    }
}
.inputWrap {
    margin-bottom: 1rem;
}
